
{% extends 'mainbase.html.twig' %}

{% block main %}
<main id="index-main">  
    <div class="first-layer-container">
        <div class="center-container">
            <div class="center-text-container">
                <div class="top-text">
                    <h1>Design</h1>
                </div>
                <div class="bottom-text">
                    <h1>Through & Through</h1>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="left-text">
                <a href="">DISCOVER</a>
            </div>
            <div class="right-text">
                <a href="">TECH SPECIFICATIONS</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}