 {% extends 'mainbase.html.twig' %}
 
 {% block main %}
 <main id="sample-main">
    <div class="sample-first-layer-container">
        <div class="sample-center-container">
            <div class="center-form-container">
                <div class="form-title">
                    <h2>Sample Request Form</h2>
                </div>
                <form id="form">
                    <div class="mb-3">
                        <div class="row">
                            <label for="col" class="form-label">Name</label>
                            <div class="col">
                                <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">First Name</div>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="lastName" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">Last Name</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Address</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Street Address</div>
                    </div>
                    <div id='ex' class="mb-3">
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Street Address 1</div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">City</div>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="lastName" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">State / Province</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Postal / Zip Code</div>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" id="phoneNumber">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Subscribe to Newsletter</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}